.reviews-widget {
  background-color: var(--silver-light);
  padding: 0 64px 32px;
}

.vertical-line {
  height: 3px;
  background-color: var(--silver);
}

.leave-review {
  margin-top: 62px;
}

.submit-btn {
  color: var(--white);
  background-color: var(--smalt-blue);
  text-transform: uppercase;
  border-radius: 12px;
  padding: 10px;
  border: 0;
}

.h50 {
  height: 50px;
}

.h100 {
  height: 100px;
}